$main: #603813;
$second: #f1bb01;
$third: #fff9ec;
$light: #f8f2ea;
$text: #333;
$btn: #333;
$btn_hover: #8fe8d9;
$btn_border: #157c68;
$btn2: #f8b62d;
$btn2_hover: #f8c978;
$btn2_border: #996a17;
$btn3: #e95513;
$btn3_hover: #e73828;
$btn3_border: #af1009;
$fb: #036eb7;
$yt: #ff4141;
$line: #00c300;
$orange: #d97802;
$lg: 1280px;
$sm: 600px;
$md: 900px;
